<div class="well bs-component">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">New Item Maintenance Form</h3>
		</div>

		<div class="panel-body">
			<!-- data maintenance for items -->
			<div class="container">
				<button ng-click="addRow()">Add Row</button>
				<button id="saveAllItems" ng-click="saveAllApolloItems()">Save
					All</button>
				<div class="gridStyle" ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>
</div>
<!-- end data maintenance -->
